{% extends 'index.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} Проекты {% endblock title %}
{% block page_styles %}
<link rel="stylesheet" href="{% static '/css/projects.bundle.css' %}" />
{% endblock %}
{% block content %}
<body>
<div class="page-list">
  <div class="page-list-content">
    <section class="page-list-content-list-header img">
       <div class="page-list-content-list-header-row">
           <h1 class="page-list-content-list-header-row__h1">
              Проекты
           </h1>
       </div>
    </section>
    <section class="page-list-content-wrapper">
      <div id="openFilter" class="page-list-content-wrapper-sidebar">
        <div class="page-list-content-wrapper-sidebar-menutitle">
          <h2 class="page-list-content-wrapper-sidebar-menutitle__h2">
           Отфильтровать результаты
          </h2>
        </div>
        <div onclick="showHide('openFilter')" class="page-list-content-wrapper-sidebar-close">
            <img src="{% static '/img/close.svg' %}" style="margin: 18px;">
        </div>
        <div class="page-list-content-wrapper-sidebar-filters">
          <ul>
            <li class="page-list-content-wrapper-sidebar-filters-section-title">Категории <img class="page-list-content-wrapper-sidebar-filters-section-title-icon" src="{% static 'img/list-marker.svg' %}">
              <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
              </ul>
            </li>
          <li class="page-list-content-wrapper-sidebar-filters-section-title">Параметры <img class="page-list-content-wrapper-sidebar-filters-section-title-icon" src="{% static 'img/list-marker.svg' %}">
              <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
              </ul>
          </li>
        </div>

        <br><br>
        <div class="page-list-content-wrapper-sidebar-filters" >

        </div>
      </div>

        <div class="page-list-content-wrapper-conteiner">
          <div class="page-list-content-wrapper-conteiner-top">
            <div onclick="showHide('openFilter')" class="page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter">
              <div class="page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter-field">
                <div class="page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter-field-icon"></div>
              </div>
            </div>
            <div class="page-list-content-wrapper-conteiner-top-search">
              <div class="page-list-content-wrapper-conteiner-top-search-field">
                <div class="page-list-content-wrapper-conteiner-top-search-field-icon"></div>
                <form action="{% url 'projects_list' %}" method="get">
                <input class="page-list-content-wrapper-conteiner-top-search-field-input" placeholder="Поиск" name="q" type="text"></input>
                </form>
              </div>
            </div>
            <div class="page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter">
              <div class="page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter-field">
                <div class="page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-icon"></div>
              </div>
            </div>
          </div>
          <div class="page-list-content-wrapper-conteiner-grid">

            {% if projects %}
            {% for project in projects %}

            <div class="page-list-content-wrapper-conteiner-row-col">
              <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner">
                <img class="page-list-content-wrapper-conteiner-row-col-imgconteiner-img" src="/media/{{ project.image }}">
              </div>
              <div class="page-list-content-wrapper-conteiner-row-col-inside" style="margin: 0;">
                <h4 class="page-list-content-wrapper-conteiner-row-col-inside__h4" style="margin: 0;">
                  {{ project.title }}
                </h4>
                <p class="page-list-content-wrapper-conteiner-row-col-inside-description" style="margin: 0;">
                  {{ project.description_brief }}
                </p>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>

          <div class="page-list-content-wrapper-conteiner-row-download">
            <a class="page-list-content-wrapper-conteiner-row-download-btn" href="{% url "projects_create" %}">Создать проект</a>
          </div>
        </div>
    </section>
</div>
</div>
</body>
{% endblock content %}
