{% extends 'index.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} Проекты {% endblock title %}
{% block page_styles %}
<link rel="stylesheet" href="{% static '/css/projects.bundle.css' %}" />
{% endblock %}

<body>
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% for field in form %}
    <div>
        <label for="{{ field.name }}">
            {{ field.label }}
        </label>
        {{ field }}
    </div>
    {% endfor %}
    {{ projectdocs }}
    <div>
        <button class="btn btn-danger" name="save" value="ok">{% if project.pk %}Update{% else %}Create{% endif %}</button>
    </div>
</form>
    </body>
{% endblock content %}
